<a href="https://colab.research.google.com/github/v2047/Regex_intern_code_file/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [ ]:
n = int(input())
for i in range(n,0,-1):
    for j in range(0,i):
        print("5",end=" ")
    print(" ")

**2**

In [ ]:

n = int(input())
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print(" ")

**3**

In [ ]:
n = int(input())
i =1
while i<=n:
  j=1
  while j<=i:
    print((i*2)-1,end="")
    j = j+1
  i = i+1
  print()

**4**

In [ ]:
n = int(input())
for i in range(0,n):
  for j in range(i+1,0,-1):
    print(j, end=" ")
  print("")

**5**

In [ ]:
n = int(input())
a = 0
for i in range (1,n+1):
  a+=i
  k = a
  for j in range(i):
    print(k,end=" ")
    k-=1
  print()

**6**

In [ ]:
n = int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(i * j, end=" ")
  print()

**7**

In [ ]:
n = int(input())
for i in range(0,n):
  k=1
  for j in range(1,n):
    if j <= i:
      print(i, end=' ')
    else:
        print(j, end=' ')
  print()

**8**

In [ ]:
n = int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(i * j, end=" ")
  print()

**9**

In [ ]:
n = int(input()) 
k = 2 * n - 2  
for i in range(n, -1, -1):   
  for j in range(k, 0, -1):  
    print(end=" ")  
  k = k + 1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")

**10**

In [ ]:
n = int(input()) 
k = 2 * n - 2  
for i in range(0,n):   
  for j in range(0,k):  
    print(end=" ")  
  k = k-1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")

**11**

In [ ]:
n = int(input())
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()
print()
for i in range(n,0,-1):
  for j in range(i-1):
    print("*",end=" ")
  print()

**12**

In [ ]:
n = int(input())
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(n,1,-1):
  for j in range(1,i-1):
    print("*",end=" ")
  print()

**13**

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(n-i):
      print(" ", end=' ')
    for j in range(0,i):
      print("*", end=" ")
    print("")

for i in range(rows, 0, -1):
    for j in range(n-i):
      print(" ", end=' ')
    for j in range(0,i):
      print("*", end=' ')
    print("")

**14**

In [ ]:
n = int(input()) 
k = 2 * n - 2  
for i in range(n, -1, -1):   
  for j in range(k, 0, -1):  
    print(end=" ")  
  k = k + 1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")
for i in range(0,n):   
  for j in range(1,k):  
    print(end=" ")  
  k = k-1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")

**15**

In [ ]:
n = int(input())
print("*"*n, end="\n")
i = (n//2) - 1
j = 2
while i != 0:
  while j <= (n-2):
    print("*"*i, end="")
    print("_"*j, end="")
    print("*"*i, end="\n")
    i = i - 1
    j = j + 2