<a href="https://colab.research.google.com/github/v2047/Regex_intern_code_file/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [35]:
n = int(input())
for i in range(n,0,-1):
    for j in range(0,i):
        print("5",end=" ")
    print(" ")

5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**2**

In [36]:

n = int(input())
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print(" ")

5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

**3**

In [37]:
n = int(input())
i =1
while i<=n:
  j=1
  while j<=i:
    print((i*2)-1,end="")
    j = j+1
  i = i+1
  print()

5
1
33
555
7777
99999

**4**

In [38]:
n = int(input())
for i in range(0,n):
  for j in range(i+1,0,-1):
    print(j, end=" ")
  print("")

5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

**5**

In [39]:
n = int(input())
a = 0
for i in range (1,n+1):
  a+=i
  k = a
  for j in range(i):
    print(k,end=" ")
    k-=1
  print()

4
1
3 2
6 5 4
10 9 8 7

**6**

In [40]:
n = int(input())
for i in range(n):
    print(' '*(n-i), end=' ')
    print(' '.join(map(str, str(11**i))))

7
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 6 1 0 5 1
  1 7 7 1 5 6 1

**7**

In [41]:
n = int(input())
for i in range(0,n):
  k=1
  for j in range(1,n):
    if j <= i:
      print(i, end=' ')
    else:
        print(j, end=' ')
  print()

6
1 2 3 4 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

**8**

In [42]:
n = int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(i * j, end=" ")
  print()

9
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**9**

In [43]:
n = int(input()) 
k = 2 * n - 2  
for i in range(n, -1, -1):   
  for j in range(k, 0, -1):  
    print(end=" ")  
  k = k + 1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")

5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

**10**

In [44]:
n = int(input()) 
k = 2 * n - 2  
for i in range(0,n):   
  for j in range(0,k):  
    print(end=" ")  
  k = k-1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print(" ")

8
              *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *
       * * * * * * * *

**11**

In [45]:
n = int(input())
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()
print()
for i in range(n,0,-1):
  for j in range(i-1):
    print("*",end=" ")
  print()

7

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

**12**

In [46]:
n = int(input())
for i in range(0,n):
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(n,1,-1):
  for j in range(1,i-1):
    print("*",end=" ")
  print()

6

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**13**

In [47]:
n = int(input())
for i in range(0, n):
    for j in range(n-i):
      print(" ", end=' ')
    for j in range(0,i):
      print("*", end=" ")
    print("")

for i in range(n, 0, -1):
    for j in range(n-i):
      print(" ", end=' ')
    for j in range(0,i):
      print("*", end=' ')
    print("")

5

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

**14**

In [48]:
n = int(input()) 
k = 2 * n - 2  
for i in range(n, -1, -1):   
  for j in range(k, 0, -1):  
    print(end=" ")  
  k = k + 1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")
for i in range(0,n):   
  for j in range(1,k):  
    print(end=" ")  
  k = k-1   
  for j in range(0, i + 1):  
    print("*", end=" ")
  print("")

7
            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *
                   *
                  * *
                 * * *
                * * * *
               * * * * *
              * * * * * *
             * * * * * * *

**15**

In [49]:
n = int(input())
print("*"*n, end="\n")
i = (n//2) - 1
j = 2
while i != 0:
  while j <= (n-2):
    print("*"*i, end="")
    print("_"*j, end="")
    print("*"*i, end="\n")
    i = i - 1
    j = j + 2

16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*